{% extends 'account/account_info/base_account_info.html' %}
{% load static %}
{% load l10n %}
{% load i18n %}
{% load humanize %}

{% block account_info_content %}

    <h3 class="fw-bold">Đổi Mật Khẩu</h3>
    <hr>

    {% if messages %}
        {% for message in messages %}
            <div class="alert
             {% if message.tags == 'success' %}
                alert-success
             {% elif message.tags == 'error' or message.tags == 'danger' %}
                alert-danger
             {% elif message.tags == 'warning' %}
                alert-warning
             {% else %}
                alert-info
             {% endif %}
             alert-dismissible fade show auto-close" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Mật khẩu hiện tại</label>
            <input type="password" name="old_password" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Mật khẩu mới</label>
            <input type="password" name="new_password" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Xác nhận mật khẩu mới</label>
            <input type="password" name="confirm_password" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-danger">Đổi mật khẩu</button>
    </form>

{% endblock %}
{% block extra_scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            setTimeout(function () {
                document.querySelectorAll('.alert.auto-close').forEach(function (alert) {
                    alert.classList.remove('show');
                    alert.classList.add('fade');
                    setTimeout(() => alert.remove(), 300);  // gỡ khỏi DOM sau khi fade
                });
            }, 2000);
        });
    </script>

{% endblock %}
